/assets/heavy/
Pose2Texture/outputs
Pose2Texture/Network/tmp
Pose2Texture/debug.png
Pose2Texture/mlruns
not_important_utils
Canonicalization/build_affectweights
Canonicalization/build_skinweights
Canonicalization/external
Canonicalization/__pycache__
Canonicalization/FitSMPL_python/__pycache__
Canonicalization/FitSMPL_python/build
Canonicalization/FitSMPL_python/utils/__pycache__
data_process/build
data_process/pre_process/__pycache__
data_process/external
Pose2Texture/__pycache__
Pose2Texture/Evaluate/render/__pycache__
Pose2Texture/lib/__pycache__
Pose2Texture/models/__pycache__
Pose2Texture/poseAware/__pycache__
.polyscope.ini
imgui.ini
assets
Pose2Texture/utils/__pycache__
Pose2Texture/external/__pycache__
Pose2Texture/external/poseAware/models/__pycache__
